binds {
    // Application launches
    Mod+Return hotkey-overlay-title="Launch Terminal" { spawn "foot"; }
    Mod+Shift+Return hotkey-overlay-title="Terminal Here" { spawn "niri-terminal-here"; }
    Mod+A hotkey-overlay-title="Alacritty Terminal" { spawn "alacritty"; }
    Mod+D hotkey-overlay-title="Discord" { spawn "discord"; }
    Mod+Shift+F hotkey-overlay-title="File manager" { spawn "nautilus" "--new-window"; }
    Mod+B hotkey-overlay-title="Browser" { spawn "zen-browser"; }
    Mod+Shift+B hotkey-overlay-title="Second Browser" { spawn "helium-browser"; }
    Mod+N hotkey-overlay-title="Text Editor" {spawn "gnome-text-editor" "--new-window"; }
    Mod+Shift+T hotkey-overlay-title="Activity Monitor (floating)" { spawn "omaniri-launch-tui" "btop"; }
    Mod+M hotkey-overlay-title="IDE" { spawn "zeditor"; }

    // Mod+Shift+R { spawn "foot" "-e" "ssh" "your-server"; }
}
